* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
// Colores
$color-primario:#aedbff;
$color-secundario:#004cda;
$color-3:#092f76;
$color-4:#deeefa;
//$color-5:rgb(99, 163, 237);
$color-5:rgb(73, 146, 230);
$color-botones:rgb(209, 248, 226);

//Fuentes

$fuente-principal:'Playfair Display', serif;
//$fuente-2:'Open Sans', sans-serif;
$fuente-2:'Times New Roman';