* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
// Colores
$color-primario:#aedbff;
$color-secundario:#004cda;
$color-3:#092f76;
$color-4:#deeefa;


//Fuentes

$fuente-principal:'Playfair Display', serif;