@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header .encabezado {
  min-height: 50vh;
  position: relative;
  background-size: contain;
  background-image: url("../imagenes/novios.jpg");
  background-repeat: no-repeat;
  display: grid;
  justify-content: center;
  background-attachment: fixed;
  background-color: rgba(254, 205, 165, 0.492);
  font-family: Allura;
}
header .encabezado .capa {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.507);
  mix-blend-mode: overlay;
}
header .encabezado .curva {
  display: none;
  width: 100vw;
  align-self: end;
}
header .encabezado .wave-container {
  top: 80%;
  width: 100vw;
  position: relative;
  overflow: auto;
  background-color: transparent;
  /* Color de fondo del div */
  height: 100px;
  /* Ajusta según el tamaño que necesites */
}
header .encabezado .wave-container::before {
  content: "";
  width: 100px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  /* Ajusta la altura de la ola */
  background: url("../../imagenes/wave.svg");
  /* Archivo SVG externo */
  background-repeat: no-repeat;
  background-size: cover;
}

main {
  background-color: #aedbff;
  display: grid;
  justify-content: center;
}
main .fecha-y-nombres {
  margin-block: 2rem;
  display: grid;
}
main .fecha-y-nombres h2 {
  justify-content: center;
  font-family: "Playfair Display", serif;
  justify-self: center;
  padding: 5px 30px 10px;
  align-self: top;
  color: #004cda;
  border: 2px solid;
  margin: 0px 0px 35px;
  width: fit-content;
  border-image-slice: 1;
  border-image-source: linear-gradient(to right, #aedbff, #004cda, #aedbff);
  border-width: 1px;
}
main .fecha-y-nombres h1 {
  font-family: "Playfair Display", serif;
  justify-self: center;
  align-self: center;
  font-size: 70px;
  line-height: 55px;
  color: #092f76;
  text-transform: uppercase;
  font-weight: 400;
  z-index: 2;
}
main .fecha-y-nombres h1 span {
  display: none;
  justify-content: center;
  font-size: 250px;
  z-index: -1;
  color: red;
}
main .versiculo {
  display: grid;
}
main .versiculo p {
  font-family: sevillana;
  font-size: 1.3rem;
  margin: 1rem;
  width: 80vw;
  justify-self: center;
}
main .flores {
  justify-self: center;
  display: grid;
  position: relative;
}
main .flores img {
  width: 100%;
  z-index: 1;
}
main .flores p {
  justify-self: center;
  justify-content: center;
  position: absolute;
  position: absolute;
  /* Posicionar elementos de forma absoluta */
  top: 50%;
  /* Centrando verticalmente */
  left: 50%;
  /* Centrando horizontalmente */
  transform: translate(-35%, -80%);
  /* Alinear al centro */
  font-size: 30px;
  line-height: 35px;
  color: #004cda;
  font-family: "Playfair Display", serif;
}
main .flores .corazon {
  position: absolute;
  top: 55%;
  left: 43%;
  width: 50px;
  /* Tamaño del corazón */
  height: 100px;
  /* Tamaño del corazón */
  fill: #092f76;
  /* Color del corazón */
}
main .flores .circulo {
  height: 270px;
  width: 270px;
  background-color: #deeefa;
  position: absolute;
  top: 50%;
  /* Centrando verticalmente */
  left: 50%;
  /* Centrando horizontalmente */
  transform: translate(-50%, -50%);
  /* Alinear al centro */
  border-radius: 100%;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}
main .ceremonia {
  justify-content: center;
  display: grid;
}
main .ceremonia .cinta {
  justify-content: center;
  justify-self: center;
  display: flex;
  width: 70vw;
}
main .ceremonia .cinta .cola-cinta {
  width: 100%;
  height: 100%;
  fill: #deeefa;
}
main .ceremonia .cinta h2 {
  padding-inline: 2rem;
  font-size: 40px;
  font-family: "Playfair Display", serif;
  background-color: #deeefa;
  align-self: center;
  text-align: center;
}
main .ceremonia .lugar {
  width: 100%;
  gap: 1rem;
  margin-block: 2rem;
  justify-content: center;
  display: grid;
}
main .ceremonia .lugar h2 {
  font-family: "Playfair Display", serif;
  justify-self: center;
}
main .ceremonia .lugar h3 {
  justify-self: center;
}
main .ceremonia .lugar .mapa button {
  border: 1px solid;
  width: 200px;
  height: 40px;
  border-radius: 20px;
}
main .ceremonia .lugar .mapa button a {
  font-size: 20px;
  color: #092f76;
  font-family: "Playfair Display", serif;
  text-decoration: none;
}
footer {
  background-color: rgba(254, 205, 165, 0.492);
}

/*# sourceMappingURL=style.css.map */
