svg {
    position: absolute;
    bottom: 7%;
    left: 30%;
    max-width: fit-content;
    height: fit-content;
    display: grid;

    .ampersand {

        align-self: center;
        justify-self: center;
        position: relative;
        font-family: 'Poppins';
        font-size: 240px;
        fill: url(#grad1);
        filter: url(#shadow);
    }
}




.div-cola {


    width: 10px;

    svg.cola {
        position: relative;
        left: -1px;
        height: 70px;
        width: 100px;




        .cola-cinta {
            position: relative;

            height: 100%;
            fill: $color-3;
        }

    }

}

.div-cola {


    width: 10px;

    svg.cola-1 {
        position: relative;
        left: -1px;
        height: 70px;
        width: 100px;




        .cola-cinta {
            position: relative;

            height: 100%;
            fill: $color-3;
        }

    }

}


.fiesta{

    .cinta {
        justify-content: center;
        justify-self: center;
        display: flex;
        width: 70vw;

    .div-cola {


        width: 10px;
    
        svg.cola {
            position: relative;
            left: -1px;
            height: 70px;
            width: 100px;
    
    
    
    
            .cola-cinta {
                position: relative;
    
                height: 100%;
                fill: $color-3;
            }
    
        }
    
    }
    
}
}


.fiesta{

    .cinta {

        justify-content: center;
        justify-self: center;
        display: flex;
        width: 70vw;
    .div-cola {


        width: 10px;
    
        svg.cola-1 {
            position: relative;
            left: -1px;
            height: 70px;
            width: 100px;
    
    
    
    
            .cola-cinta {
                position: relative;
    
                height: 100%;
                fill: $color-3;
            }
    
        }
    
    }
}
}